!!!5
%html
  %head
    %title academia - Here is the fitting language course for you!
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true    
    = javascript_include_tag 'https://www.google.com/recaptcha/api.js'
    = csrf_meta_tags
  %body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{:"data-off-canvas-wrapper" => true}
        .off-canvas.position-left#leftMenu{:"data-off-canvas" => true}
          =render 'layouts/sidemenu'
        .off-canvas-content#site{:"data-off-canvas-content" => true}
          =render "layouts/topbar"     
          .row
            .content 
              = yield
          .row
            .footer
              =render 'layouts/footer'
          = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :plain
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
        ga('create', 'UA-72578961-1', 'auto');
        ga('send', 'pageview');
      
      </script>